body{
  font-family: sans-serif;
  background:url("images/wall1.jpg");
  background-repeat:no-repeat;
  background-size: 100% 125%;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}
.title-text{
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  color:blue;
  font-weight: 550;
}
.input-field{
  width:360px;
  height:80px;
  margin-bottom: 0.5rem;
  border:2px solid blue;
  border-radius: 1rem;
  text-align: right;
  font-size: 2rem;
  color:blue;
}
.result-field{
  width:360px;
  height:0;
  margin-bottom: 0.5rem;
  border:2px solid green;
  border-radius: 0.5rem;
  text-align: right;
  font-size: 1.25rem;
  color:green;
  opacity: 0;

  transition: opacity 2s ease-out;
  transition: height 0.75s ease-out;
}
.flex-container{
  display:flex;
  justify-content: center;
}
.item{
  width:80px;
  height:80px;
  text-align: center;
  margin:0.5rem;
  color:white;
  background-color: blue;
  border-radius: 0.5rem;
  /* disable select */
  -webkit-user-select:none;
  /* chrome/safari */
  -moz-user-select:none;
  /* mozilla */
  -ms-user-select:none;
  /* internet explorer */
  user-select: none;
  /* standard syntax */
}
.item:hover{
  cursor:default;
}
/* .zero{
  width:176px;
  font-size: 1.25rem;
} */

.clicked{
  background-color: white;
  color: blue;
}
